$white: #ffffff;
$black: #000000;

$bg-color: #eff8fe;
$primary-color: #04357c;
$primary-color-dark: #00293e;
$primary-color-dark-tranparent: rgba(0, 41, 62, 0.73);
$secondary-color: #ff005c;
$danger-color: #d43f3f;
$success-color: #17d44f;
$gray-color: #4e4e4e;
$gray-color-soft: #c7c7c7;
$border-gray: #242424;
$border-color: #f1f1f1;

$primary-color-hover: #04297c;
$secondary-color-hover: #ee0059;

$secondary-color-soft: #ff097a61;

$bg: #eef1f4;
